.menu {
  background-color: black;
  color: white;
  position: fixed;
}

.menuLighted {
  background-color: white;
  color: black;
  position: fixed;
}

.menu > a > i {
  font-size: 25px;
  margin-bottom: 55px;
  position: relative;
  top: 55px;
  left: 50px;
  color: white;
  opacity: 0.6;
}

.menu > a > svg{
    font-size: 35px;
    margin-bottom: 55px;
    position: relative;
    top: 55px;
    left: 50px;
    color: white; 
    opacity: 0.6;
}

.menuLighted > a > i {
  font-size: 25px;
  margin-bottom: 55px;
  position: relative;
  top: 55px;
  color: black;
  left: 50px;
  opacity: 0.6;
}

.menuLighted > a > svg{
    font-size: 35px;
    margin-bottom: 55px;
    position: relative;
    top: 55px;
    left: 50px;
    color: black; 
    opacity: 0.6;
}


.menu > a > i:hover,
.menuLighted > a > i:hover {
  transform: scale(1.3, 1.3) rotate(0.5deg);
  transition: 0.3s;
  opacity: 1;
}

.menu > a > i:not(:hover),
.menuLighted > a > i:not(:hover) {
  transition: 1s;
}


.menu > a > svg:hover,
.menuLighted > a > svg:hover {
  transform: scale(1.3, 1.3) rotate(0.5deg);
  transition: 0.3s;
  opacity: 1;
}

.menu > a > svg:not(:hover),
.menuLighted > a > svg:not(:hover) {
  transition: 1s;
}
